{% extends 'base.html'%}
{% block body %}
<div class="container">
    <div class="row-fluid heading">
        <div class="span12">
            <h1>{{ story.title }}</h1>
            <h4>By {% if story.author %}{{ story.author }}{% else %}Amonominous anomynous whatever{% endif%}</h4>
        </div>
    </div>
    <div class="row-fluid pitch">
        <div class="span12">
            {% for line in story.lines %}
                <p>{{ line.1.term }}</p>
                {% if line.1.url %}
                    <p><img width=400 src='{{ line.1.url }}'/></p>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}
